doctype html
html(lang="en")
  head
    link(href='style.css')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')

  body
    block content